@import "color"
    
button
    display: flex
    justify-content: center
    align-items: center
    font-size: 14px
    line-height: 16px
    padding: 8px 24px
    border: none
    background-color: transparent
    border-radius: 88rem
    transition: all .3s ease
    &:hover
        &span
            transform: scale(0.5),transform 0.3s
        cursor: pointer;

.primary
    background-color: $theme-color
    color: $white-main
    & :hover
        background-color: $theme-color-hover
    & :active
        background-color: $theme-color-active

.secondary
    background-color: transparent
    color: $theme-color
    border: 1px solid inner $theme-color
    &:hover
        

.lg
    height: 40px



